//Colors
$main-color: #1b2a38;
$main-dark: #111823;
$main-light: #23bec6;

//$second-color: #4A9E8B;
$second-color: #BB0415;

$light: whitesmoke;
$grey: #fbfbfb;
$dark: lightgrey;  //footer

//Elements
$background: $main-color;
$text: $light;
$text-opposite: #1e1e1e;

//Button
$btn_background: $text;

//Extern
$xing: #007575;
$html: #e54c21;
$js: #f0da50;
$node: #91c640;
$css: #3161a3;
$sass: #cc6698;
$wordpress: #21759a;
$bootstrap: #644195;
$symfony: #161616;
$php: #8a92c0;
$adobe: #fe0000;
$java: #2c6cb4;
$linux: #000000;