.overlay{
  background: #ffffff;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
}
.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 200px; /* size changes depend on you */
  height: 200px; /* size changes depend on you */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: rotate 1s ease-in-out infinite;
  -o-animation: rotate 1s ease-in-out infinite;
  animation: rotate 1s ease-in-out infinite;
}
@keyframes rotate {
  0%{
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100%{
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}