@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:700&display=swap");
@keyframes pulse_animation {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.08); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.05); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
.pulse {
  animation-name: pulse_animation;
  animation-duration: 5000ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

body {
  background-color: #1b2a38;
  color: whitesmoke;
  font-family: 'Raleway', sans-serif; }
  body h1 {
    color: #23bec6;
    font-family: 'Inconsolata', monospace;
    font-weight: 700; }
    body h1.text {
      color: whitesmoke; }
  body h2 {
    font-size: 3em;
    letter-spacing: 1em; }
  body h3 {
    font-size: 2em; }
  body .small {
    font-size: 0.8em; }
  body .link, body a {
    color: whitesmoke;
    text-decoration: none; }
  body a:hover {
    color: whitesmoke;
    text-decoration: underline; }
  body ul {
    list-style: circle; }
  body .debug {
    border: 1px dashed orangered; }
  body .center {
    text-align: center; }
  body .align-right {
    text-align: right; }
  body .align-left {
    text-align: left; }
  body .headline {
    position: relative;
    text-align: center; }
  body .logo {
    width: 50px;
    margin-left: 2em; }
  body .half-left img,
  body .half-right img {
    display: block;
    height: auto;
    width: 100%; }
  @media (min-width: 481px) {
    body .half-left,
    body .half-right {
      overflow: hidden;
      padding: 0;
      position: relative; }
    body .half-left > .container,
    body .half-right > .container {
      top: 0; }
    body .half-left > .container {
      right: 0; }
    body .half-right > .container {
      left: 0; } }
  body #welcome {
    position: relative;
    background-color: #1b2a38;
    margin-top: 10em; }
  body #experience {
    background-color: #23bec6; }
    body #experience #skillsHeadline {
      color: whitesmoke; }
  body .icon {
    font-size: 2em;
    transition-duration: .4s; }
    body .icon:hover {
      transition-duration: .4s; }
    @media (max-width: 600px) {
      body .icon:before {
        margin: 5px; } }
  body #responsive {
    background-color: whitesmoke;
    color: #1e1e1e;
    font-size: 1.5em; }
    body #responsive #resIcon {
      width: 10em;
      height: 10em; }
  body #portfolio {
    padding-top: 5em !important;
    padding-bottom: 5em !important; }
    body #portfolio .wrapper img {
      width: 100%;
      height: auto; }
    body #portfolio .wrapper a {
      text-decoration: none; }
    body #portfolio .wrapper.shrink img {
      transition: .8s ease; }
    body #portfolio .wrapper.shrink img:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      transition: .8s ease; }
  body #skills {
    font-size: 1.5em;
    font-weight: bold; }
  body #deals {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
    background-color: #23bec6;
    color: whitesmoke; }
    body #deals h1 {
      color: #111823; }
    body #deals a:hover {
      color: #1e1e1e; }
  body #contact {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
    background-color: whitesmoke;
    color: #1e1e1e; }
    body #contact a, body #contact .link {
      color: #1e1e1e !important; }
      body #contact a:hover, body #contact .link:hover {
        color: #23bec6; }
    body #contact h1 {
      color: #1e1e1e; }
  body .underline {
    width: 20%;
    height: 1px;
    margin-bottom: 15px; }
    body .underline.light {
      background-color: #23bec6; }
    body .underline.text {
      background-color: whitesmoke; }
    body .underline.main {
      background-color: #1b2a38; }
  body .input {
    margin: .5em;
    padding: .8em;
    border: 1px solid #1e1e1e; }
  body .xing {
    font-size: 1em;
    transition-duration: 0.3s; }
  body .cta {
    color: #1e1e1e;
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
    text-decoration: none !important;
    top: 30px;
    font-weight: 700; }
    body .cta:hover {
      font-size: 1em; }
  body .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: linear-gradient(230deg, #FF7A8D 0%, #CC81B1 75%);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease; }
  body .cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle; }
  body .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #1e1e1e;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease; }
  body .cta:hover:before {
    width: 100%;
    background: linear-gradient(230deg, #FF7A8D 0%, #CC81B1 75%); }
  body .cta:hover svg {
    transform: translateX(0); }
  body .cta:active {
    transform: scale(0.96); }
  body .btn {
    text-decoration: none;
    color: #1b2a38;
    border: 1px solid #1b2a38;
    border-radius: 99px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px; }
    body .btn:hover {
      background-color: #1b2a38;
      color: whitesmoke; }
  body .myCard {
    background-color: whitesmoke;
    color: #1e1e1e;
    padding: 20px;
    padding-bottom: 50px; }

#myself {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden; }

.html:hover {
  color: #e54c21; }

.js:hover {
  color: #f0da50; }

.node:hover {
  color: #91c640; }

.css:hover {
  color: #3161a3; }

.sass:hover {
  color: #cc6698; }

.wordpress:hover {
  color: #21759a; }

.bootstrap:hover {
  color: #644195; }

.symfony:hover {
  color: #161616; }

.php:hover {
  color: #8a92c0; }

.adobe:hover {
  color: #fe0000; }

.java:hover {
  color: #2c6cb4; }

.linux:hover {
  color: #000000; }

footer {
  background-color: #1b2a38;
  padding: 30px 0px;
  color: whitesmoke; }
  footer a {
    transition-duration: .3s; }
    footer a:hover {
      padding: 2px;
      text-decoration: none;
      background-color: whitesmoke;
      color: #1b2a38;
      transition-duration: .3s; }

.navbar {
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  background-color: whitesmoke; }
  .navbar .navigation a {
    position: relative;
    color: #1b2a38;
    text-decoration: none;
    margin-left: 50px;
    font-size: 1em !important; }
  .navbar .navigation a:hover {
    color: #1b2a38; }
  .navbar .navigation a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #23bec6;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .navbar .navigation a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  .navbar .active {
    color: #23bec6; }
    .navbar .active:hover {
      color: #23bec6; }
    .navbar .active:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #23bec6; }

.overlay {
  background: #ffffff;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: relative; }

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 200px;
  /* size changes depend on you */
  height: 200px;
  /* size changes depend on you */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: rotate 1s ease-in-out infinite;
  -o-animation: rotate 1s ease-in-out infinite;
  animation: rotate 1s ease-in-out infinite; }

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg); } }
.header *, .header *:after, .header *:before {
  margin: 0;
  padding: 0; }
.header .svg-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1; }
.header svg path {
  transition: .1s; }
.header svg:hover path {
  d: path("M 800 300 Q 400 250 0 300 L 0 0 L 800 0 L 800 300 Z"); }
.header h3 {
  font-weight: 400;
  font-family: 'Raleway', sans-serif; }
.header header {
  color: #fff;
  padding-top: 10vw;
  padding-bottom: 30vw;
  text-align: center; }
  .header header #curve {
    background-image: url("../img/background.jpg"); }

@media screen and (min-width: 1000px) {
  #welcome {
    margin-top: 10em !important;
    background-color: transparent !important; } }
@media screen and (min-width: 1200px) {
  .headline {
    top: 8em !important; }

  #welcome {
    margin-top: 20em !important;
    background-color: transparent !important; } }
@media screen and (max-width: 1000px) {
  .headline {
    top: 0 !important; }

  #welcome {
    margin-top: 1em !important;
    background-color: transparent !important; }

  .half-left {
    display: none; }

  .half-right {
    padding-bottom: 2em !important; } }
@media screen and (max-width: 800px) {
  h2 {
    font-size: 3em !important;
    letter-spacing: 1px !important; }

  .hidden-xs {
    display: none; }

  #welcome {
    margin-top: 0 !important; }

  .logo {
    margin-left: 0; } }
@media screen and (max-width: 576px) {
  .icon-wrapper {
    width: 15% !important; } }

/*# sourceMappingURL=style.css.map */
